.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    background-color: rgb(28, 28, 28);
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    margin-bottom: 10px;
}

.movie-poster img{
    width: 100%;
    height: 400px;
}

.favorite-btn {
    position: absolute;
    top:  1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2;
}


.favorite-btn:hover {
    background-color: rgba(0, 0, 0, 8);
}

.favorite-btn.active {
    color: red;
}