
.movie-poster {
    display: flex;
    justify-content: end;
    width: 250px;
}

.movie-poster img{
    width: 95%;
    height: 100%;
    border-radius: 8px;
}

.favorite-btn {
    margin: 4px;
    position: absolute;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2;
}


.favorite-btn:hover {
    background-color: rgba(0, 0, 0, 8);
}

.favorite-btn.active {
    color: red;
}